


<h1> About </h1>

<p> <a href="#">Sign Up Now! <a/>

	<p> Cette page est un veritable prototype car j'apprends à coder. Moi ? 
		<%= link_to"Victor Matei!", "https://www.facebook.com/?locale=fr_FR" %>
		<div class="footer">
	<small>
		<a href="http://onemonthrails.com">One Month Rails</a>
	</small>
</div>