


<h1> About </h1>

<p> Pour en savoir plus sur le projet que je suis en train de construire, vous pouvez vous renseigner <%= link_to "ici", "http://www.lemonde.fr/politique/article/2013/07/17/affaire-cahuzac-courson-affirme-detenir-les-preuves-que-hollande-savait_3448778_823448.html"%>

	<p> Cette page est un veritable prototype car j apprends à coder. Moi? 
		<%= link_to"Victor Matei!", "https://www.facebook.com/?locale=fr_FR" %>
	</p>
	