<div class="hero-unit">

  <h1>Welcome to My fucking Home page man</h1>
	<p> 
		T'as trouvé la page du siècle 
		pour le site <%= link_to "One Month Rails", "http://onemonthrails.com" %>
		de mon pote 
	</p>

	<div class="footer">
	<small>
	<%= link_to "Sign Up Now!", "http://localhost:3000/", class:"btn btn-primary btn-large" %>
	</small>
	</div>
</div>


