<div class="hero-unit">

  <h1>Welcome to My fucking Home page man</h1>
	<p> 
		T'as trouvé la page du siècle 
		Plus d'infos <%= link_to "ici", "http://www.youtube.com/watch?v=5_cIdjCdM8w" %>
	 
	</p>

	<div class="footer">
	<small>
	<%= link_to "Regarde une video drole maintenant!", "http://www.youtube.com/watch?v=KnJFpQIv8UQ", class:"btn btn-primary btn-large" %>
	</small>
	</div>
</div>


